<% if @user == current_user %>
    <h2 class="bg-light">Your Reviews</h2>
<% else %>
    <h2 class="bg-light">Reviews by <%= @user.name %></h2>
<% end %>

<% if @brewery_threads.none? %>
    <div>No Reviews here. <%= brewery_link_to new_brewery_thread_path do %>Make a new review<% end %> or check out <%= link_to "the latest brewery reviews", brewery_threads_path %> instead?</div>
<% else %>
<%= render partial: "brewery_threads/brewery_thread", collection: @brewery_threads %>
<% end %>