<% if @user == current_user %>
    <h2>Your Reviews</h2>
<% else %>
    <h2>Reviews by <%= @user.name %></h2>
<% end %>

<%= render partial: "brewery_threads/brewery_thread", collection: @brewery_threads %>
