<h2>Community Reviews</h2>

<% if @brewery_threads.none? %>
    <div>Sorry, No results were found for your search. Check out <%= link_to "the latest brewery reviews", brewery_threads_path %> instead?</div>
<% else %>
    <%= render partial: "brewery_threads/brewery_thread", collection: @brewery_threads %>
<% end %>
